.navbar {
  box-shadow: 0px 10px 10px rgb(31, 29, 29);
  z-index: 2;
  position: relative;
  width: 100%;
  max-height: 10vh;
  margin: auto;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(230, 168, 168);
}

#logo {
  padding: 4vh;
  flex: 1 1 20rem;
}
/*make nav horizontal*/
ul li {
  display: inline-block;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}
a {
  text-decoration: none;
  color: #faf3dd;
}
